{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8" />
  <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>
  <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}css/snapboard.css" />
  <link type="text/css" rel="stylesheet" href="{% url snapboard_vcss %}" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url snapboard_feeds "latest" %}" />
  <script type="text/javascript">var SNAPBOARD_URLS = {'rpc_preview': '{% url snapboard_rpc_preview %}','rpc_action': '{% url snapboard_rpc_action %}'};var SNAP_POST_FILTER = '{{ SNAP_POST_FILTER }}';YAHOO.util.Event.onDOMReady(procAllTimeSince);</script>
  <script src="{{ SNAP_MEDIA_PREFIX }}js/yui/yahoo-dom-event.js" type="text/javascript"></script>
  <script src="{{ SNAP_MEDIA_PREFIX }}js/yui/connection-min.js" type="text/javascript"></script>
  <script src="{{ SNAP_MEDIA_PREFIX }}js/thread.js" type="text/javascript"></script>
  {% block snap_extra_head %}{% endblock %}
</head>

<body id="x">
{% block snapboard_panel %}{% include "snapboard/include/side_panel.html" %}{% endblock %}
{% block snapboard_main %}{% endblock %}
</body>
</html>

