{% extends "snapboard/base_forum.html" %}
{% load i18n %}

{% block side_panel %}{% endblock %}
{% block breadcrumb %}{{ block.super }} &mdash; About XMPP Forum{% endblock %}

{% block snapboard_main %}
<div class="w">
<p>This is XMPP Forum. Take it, hold it, love it. And may the help.html help you.</p>
<h3>What this page needs?</h3>
<p>First of all some texts and links, maybe in the form of FAQ:</p>
<ul>
    <li>What is this forum|engine? (It's a free opensource bla-bla)</li>
    <li>Where can I get one?</li>
    <li>How do I XMPP your F?</li>
    <li>What else?</li>
</ul>
<h3>What what else?</h3>
<p>User manual?</p>
</div>
{% endblock %}
