{% extends "snapboard/base_forum.html" %}
{% load i18n %}

{% block snapboard_main %}
{% if not user.is_authenticated %}
<div class="fe">{% blocktrans with request.path|urlencode as reqpath %}You need to <a href="{{ LOGIN_URL }}?next={{ reqpath }}">sign in</a> to post messages.{% endblocktrans %}</div>
{% else %}
<form action="" method="POST">
  <table class="aef">
    {{ threadform.as_table }}
    {% ifequal SNAP_POST_FILTER "bbcode" %}
    <tr>
      <th></th>
      <td class="tb">
        <button onclick="return surround('[b]','[/b]');"><b>{% trans "B" %}</b></button>
        <button onclick="return surround('[i]','[/i]');"><i>{% trans "I" %}</i></button>
        <button onclick="return surround('[quote]','[/quote]');"><span>{% trans "quote" %}</span></button>
        <button onclick="return surround('[code]','[/code]');"><span>{% trans "code" %}</span></button>
        <button onclick="return do_prefix('[*]');"><span>{% trans "list" %}</span></button>
        <button onclick="return insert_img();"><span>{% trans "img" %}</span></button>
        <button onclick="return insert_link();"><u>{% trans "link" %}</u></button>
      </td>
    </tr>
    {% endifequal %}
    {{ postform.as_table }}
    <tr>
      <th></th>
      <td class="fc"><input type="submit" value="{% trans "Start Subject" %}" /> <input type="reset" value="{% trans "Reset" %}" /></td>
    </tr>
  </table>
</form>
{% endif %}
{% endblock %}
