{% extends "snapboard/base_forum.html" %}
{% load i18n %}

{% block snapboard_main %}
{% if not user.is_authenticated %}
<div class="e">{% blocktrans with request.path|urlencode as reqpath %}You need to <a href="{{ LOGIN_URL }}?next={{ reqpath }}">sign in</a> to post messages.{% endblocktrans %}</div>
{% else %}
{% if warn %}<span class="warn">{{ warn }}</span>{% endif %}
<form action="" method="POST">
  <table class="f">
    {{ threadform.as_table }}
    {% ifequal SNAP_POST_FILTER "bbcode" %}
    <tr>
      <th></th>
      <td>
        <a href="http://en.wikipedia.org/wiki/BBCode#BBCode_tags">Help on BBCode</a>
      </td>
    </tr>
    {% endifequal %}
    {{ postform.as_table }}
    <tr>
      <th></th>
      <td><input class="b" type="submit" value="{% trans "Start Subject" %}" /> <input class="b" type="reset" value="{% trans "Reset" %}" /></td>
    </tr>
  </table>
</form>
{% endif %}
{% endblock %}
