{% extends "snapboard/base_forum.html" %}
{% load i18n %}

{% block snap_extra_head %}
  <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block title %}{{ block.super }}: Register{% endblock %}

{% block snapboard_main %}
    <form action="" method="post">
        <table>
            <tbody>
                {{ form }}
                <tr>
                    <th></th>
                    <td><input type="submit" value="{% trans "Submit" %}" /></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endblock %}

