{#ptfable#}
{% extends "snapboard/base_forum.html" %}
{% load i18n pagination_tags avatar_tags %}
{% load extras %}

{% block snapboard_main %}
    <p>
        <b style="font-size: large;">
            <a href="{% url snapboard_category_thread_index thread.category.id %}">{{ thread.category }}</a>:
            {{ thread.subject }}
        </b>
    </p>
    <br />
{% if last_post.censor %}<div class="post_censored">
{% else %}{% ifnotequal last_post.abuse 0 %}<div class="post_reported">
{% endifnotequal %}{% endif %}
 <p class="post_header">
     <span class="post_menuright">
         {% if user.is_staff %}&#149;<span title="{% trans "ADMIN: mark this post for censorship" %}" class="popup"><a id="censor{{ last_post.id }}" href="#snap_post{{ last_post.id }}" onclick="set_censor('{{ last_post.id }}');">{{ last_post.censor|yesno:_("uncensor,censor") }}</a></span>{% endif %}
         {% if user.is_authenticated and not last_post.freespeech %}&#149;<span title="{% trans "Report this post for violation of forum policies." %}" class="popup"><a id="abuse{{ last_post.id }}" href="#snap_post{{ last_post.id }}" onclick="set_abuse('{{ last_post.id }}');">{% trans "report abuse" %}</a></span>{% endif %}
     </span>
     <span class="avatar"> {% avatar last_post.user %}</span>
     <b><span class="popup" title="Author">{{ last_post.user }}</span></a></b>
 </p>
    {% for post in posts %}
        {# render post revision here #}
 <p class="post_header">
     <span class="ti">{% reltime post.date %}</span>
     <span class="ps" style="display:none;" id="snap_post_sum{{ post.id }}">:
         {{ post.text|post_summary:"30"|safe }}
     </span>
 </p>
 <div style="display:block" id="snap_post_view{{ post.id }}">
     <div class="post_text" style="display:block" id="snap_post_text{{ post.id }}">
         {{ post.text|striptags|render_post|safe }}
         {% if post.difflist %}
         <div class="post_diff">
           {% for dtype, dstr in post.difflist %}
              {% if dtype == "+ " %}
                <span class="r_ad" style="border-bottom: 2px dotted green;">{{ dstr|safe }}</span>
              {% else %}{% if dtype == "- " %}
                <span class="r_re" style="color: red; text-decoration: line-through;">{{ dstr|safe }}</span>
              {% else %}{# shouldn't be anything but "  ". #}
                {{ dstr|safe }}
              {% endif %}{% endif %}
           {% endfor %}
         </div>
         {% endif %}
     </div>
     <br/>
 </div>
 <hr class="postend" />
    {% endfor %}
 {% if last_post.censor %}</div>
 {% else %}{% ifnotequal last_post.abuse 0 %}</div>
 {% endifnotequal %}{% endif %}

{% endblock %}
