{% extends "snapboard/base_forum.html" %}
{% load i18n %}

{% block side_panel %}{% endblock %}
{% block breadcrumb %}{{ block.super }} &mdash; Login{% endblock %}

{% block snapboard_main %}
{% if not user.is_authenticated %}
<form method="post" action="{% url auth_login %}">{% csrf_token %}     
  <table>
    {{ form.as_table }}
    <tr><th></th><td><input class="b login-b" type="submit" value="{% trans "Sign In" %}" /><input type="hidden" name="next" value="{{ next }}" /></td></tr>
  </table>
</form>
{% else %}
<p>{% trans "You are already signed in." %}</p>
{% endif %}
{% endblock %}
