{% extends "snapboard/base_forum.html" %}
{% load i18n pagination_tags %}
{% load extras %}

{% block snapboard_main %}
<div class="index_title">
  <h2>{{ title }}</h2>
  {% autopaginate threads user_settings.tpp %}
  {% paginate %}
</div>
{% if threads %}
{% for thread in threads %}
<div class="thread">
  <span>
    {{ thread.post_count }} {% trans "posts started by" %} {{ thread.starter }}
  </span>
  <span>
    {% if thread.gsticky %}STICKY{% else %}{% if category and thread.csticky %}STICKY{% endif %}{% endif %}
    {% if thread.closed %}CLOSED{% endif %}
    <a href="{% url snapboard_thread thread.id %}">{{ thread.subject }}</a>
  </span>
  <span>
  {% trans "last updated" %}<span class="ti">{% reltime thread.date %}</span>
  {% ifnotequal thread.last_poster thread.starter %}{% trans "by" %} {{ thread.last_poster }}{% endifnotequal %}
  </span>
  {% block thread_category_optional %}
    <span>
      {% trans "category" %}:<a href="{% url snapboard_category_thread_index thread.category.id %}">{{ thread.category }}</a>
    </span>
  {% endblock %}
</div>
{% endfor %}
{% paginate %}{# XXX It's inefficient calling that twice for the same result #}
{% else %}
  <p>{% trans "No threads are available." %}</p>
{% endif %}
{% endblock %}
