{% extends "snapboard/base_forum.html" %}
{% load i18n pagination_tags %}
{% load extras %}

{% block snapboard_main %}
<div id="thread_rpc_feedback" class="rm"></div>
<div>
  {% if user.is_staff %}
    <span class="thread_menu">
      <a id="csticky{{ thr.id }}" href="" onclick="set_csticky('{{ thr.id }}');">{{ thr.csticky|yesno:_("unset csticky,set csticky") }}</a>
      <a id="gsticky{{ thr.id }}" href="" onclick="set_gsticky('{{ thr.id }}');">{{ thr.gsticky|yesno:_("unset gsticky,set gsticky") }}</a>
      <a id="close{{ thr.id }}" href="" onclick="set_close('{{ thr.id }}');">{{ thr.closed|yesno:_("open thread,close thread") }}</a>
    </span>
  {% endif %}
  <div class="topic-addr"><a href="{% url snapboard_category_thread_index thr.category.id %}">{{ thr.category }}</a> / <a href="{% url snapboard_thread thr.id %}">{{ thr.subject }}</a></span>
</div>

{% include "snapboard/include/show_posts.html" %}

{% endblock %}
