{% extends "snapboard/base_forum.html" %}
{% load i18n pagination_tags %}

{% block snap_extra_head %}
    {{ block.super }}
    <link type="text/css" rel="stylesheet" href="{{ SNAP_MEDIA_PREFIX }}/css/post.css" />
{% endblock %}

{% load extras %}

{% block snapboard_main %}
    <div id="thread_rpc_feedback" class="rm"></div>
    <p>
        <span class="thread_menu">
            {% if user.is_staff %}
                <span>
                    <a id="csticky{{ thr.id }}" href="#" onclick="set_csticky('{{ thr.id }}');">
                        {{ thr.csticky|yesno:_("unset csticky,set csticky") }}
                    </a> 
                </span>
                &#149;
                <span>
                    <a id="gsticky{{ thr.id }}" href="#" onclick="set_gsticky('{{ thr.id }}');">
                        {{ thr.gsticky|yesno:_("unset gsticky,set gsticky") }}
                    </a> 
                </span>
                &#149;
                <span>
                    <a id="close{{ thr.id }}" href="#" onclick="set_close('{{ thr.id }}');">
                        {{ thr.closed|yesno:_("open thread,close thread") }}
                    </a> 
                </span>
            {% endif %}
        </span>
        <div class="topic-addr">
            / <a href="{% url snapboard_category_index %}">{{ forum_name }}</a> /
            <a href="{% url snapboard_category_thread_index thr.category.id %}">{{ thr.category }}</a> /
            {{ thr.subject }}
        </div>
    </p>


    {% include "snapboard/include/show_posts.html" %}

{% endblock %}
