{% extends "snapboard/base_forum.html" %}
{% load i18n pagination_tags %}
{% load extras %}

{% block snapboard_main %}
<div id="trf" class="rm"></div>
  <div class="ta"><a href="{% url snapboard_category_thread_index thr.category.id %}">{{ thr.category }}</a> &mdash; <a href="{% url snapboard_thread thr.id %}">{{ thr.subject }}</a></div>
  {% if user.is_staff %}
    <span class="tm">
      <a id="csticky{{ thr.id }}" href="" onclick="set_csticky('{{ thr.id }}');">{{ thr.csticky|yesno:_("unset csticky,set csticky") }}</a>
      <a id="gsticky{{ thr.id }}" href="" onclick="set_gsticky('{{ thr.id }}');">{{ thr.gsticky|yesno:_("unset gsticky,set gsticky") }}</a>
      <a id="close{{ thr.id }}" href="" onclick="set_close('{{ thr.id }}');">{{ thr.closed|yesno:_("open thread,close thread") }}</a>
    </span>
  {% endif %}
{% include "snapboard/include/show_posts.html" %}

{% endblock %}
