{% extends "snapboard/base_forum.html" %}
{% load i18n %}

{% block title %}{{ block.super }}: reg?{% endblock %}
{% block breadcrumb %}{{ block.super }} &mdash; New user registration{% endblock %}
{% block snap_extra_head %}
  <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block snapboard_main %}
  <div id="hd">
      {% block sbreg_body_head %}
      {% endblock %}
  </div>
  <div id="bd">
      {% block sbreg_body_main %}
      {% block registration_content %}{% endblock %}
      {% endblock %}
  </div>
  <div id="ft">
      {% block sbreg_body_footer %}
      {% endblock %}
  </div>
{% endblock %}
