## A set of required packages not present in recent Debian distributions.
django-mailer
django-notification
django-pagination
django-loginurl
-e git+https://github.com/oppianmatt/django-defaultsite.git#egg=django-defaultsite
## For now, git-version is required since 1.0.5 doesn't have
## UploadAvatarForm.
#django-avatar
-e git+https://github.com/ericflo/django-avatar.git#egg=django-avatar
