{#ptfable#}
{% load i18n snapboard_tags extras plaintexttags avatar_tags %}
<em>Sent by watch on post #{{ watches_ids|key:user }}.</em>{%br%}
<strong>New message</strong> <em>#{{ post.id_form_m }}</em> in
 “<a href="http://{{ current_site.domain }}
   {% url snapboard_post post.thread.id_form_m %}">
  {{ post.thread.subject }}
  </a>”:{%br%}
<strong>In reply to</strong> {{ post.get_parent.user }}'s message:{%br%}
{{ post.get_parent.text|striptags|render_post|safe }}{%br%}
<strong>By:</strong> {{ post.user }}{%br%}
{{ post.text|striptags|render_post|safe }}
