{% load i18n %}
{% spaceless %}
{% if thr.closed %}
<div class="e">{% trans "This discussion has been closed by the staff.  You can no longer add posts." %}</div>
{% else %}
{% if not user.is_authenticated %}
<div class="e">{% blocktrans with request.path|urlencode as reqpath %}You need to <a href="{{ LOGIN_URL }}?next={{ reqpath }}">sign in</a> to post messages.{% endblocktrans %}</div>
{% else %}
<div>{{ postform.errors }}</div>
<form action="{% url snapboard_post_reply parent_post.id %}" method="POST">
  <table class="f">
    <tr>
      <td>
        {% include "snapboard/include/editorhelper.html" %}
      </td>
    </tr>
    <tr>
      <td><textarea class="ar" name="text"></textarea></td>
    </tr>
    <tr>
      <td><input class="b" type="submit" value="{% trans "Post" %}" /><input class="b" type="button" value="{% trans "Preview" %}" onclick="preview('add_post_div')" /></td>
    </tr>
  </table>
</form>
<div style="display: none">
  <p>{% trans "Post Preview:" %}</p>
  <div id="snap_preview_addpost" class="t">
</div>
{% endif %}
{% endif %}
{% endspaceless %}
