{% load i18n %}
{% spaceless %}
{% if thr.closed %}
<div class="e">{% trans "This discussion has been closed by the staff.  You can no longer add posts." %}</div>
{% else %}
{% if not user.is_authenticated %}
<div class="e">{% blocktrans with request.path|urlencode as reqpath %}You need to <a href="{{ LOGIN_URL }}?next={{ reqpath }}">sign in</a> to post messages.{% endblocktrans %}</div>
{% else %}
<div>
{% if not rpc %}
	<span>{{ postform.errors }}</span>
    <p>Reply to a post by <b>{{ parent_post.user.username }}</b>:</p>
    <blockquote>{{ parent_post.texth|safe }}</blockquote>
	{% else %}
	<p>Reply to a post <a href="#{{ parent_post.id_form_m }}">#{{ parent_post.id_form_m }}</a> by <b>{{ parent_post.user.username }}</b>: <i>{{ parent_post.texth|striptags|truncatewords_html:10|safe }}</i></p>
{% endif %}
<form action="{% url snapboard_post_reply parent_post.id_form_m %}?next={{ request.REQUEST.next }}" method="POST">
  <table class="f">
    <tr>
      <td><textarea id="add_post_div" class="ar" name="text"></textarea></td>
    </tr>
    <tr>
      <th><input class="b" type="submit" value="{% trans "Post" %}" /><input class="b" type="button" value="{% trans "Preview" %}" onclick="preview('add_post_div', 'p{{ parent_post.id_form_m }}')" />
	  {% if rpc %}<input class="b" type="button" value="{% trans "Cancel" %}" onclick="<!-- Needs new function -->"/>{% endif %} <span class="ed-help">{% include "snapboard/include/editorhelper.html" %}</span></th>
    </tr>
  </table>
</form>
</div>
{% endif %}
{% endif %}
{% endspaceless %}
