{% load i18n %}
<div class="cat">
<h3>Topics Category List</h3>
{% if cat_list %}
  {% for category in cat_list %}
    <p class="thread"><a href="{% url snapboard_category_thread_index category.id %}">{{ category.label }}</a></p>
  {% endfor %}
{% else %}
  <p>{% trans "No categories are available." %}</p>
{% endif %}
{# {% if category.moderators %}moderators: {{ category.moderators }}{% endif %} #}
{# {% blocktrans count category.thread_count as cnt %}{{ cnt }} discussion{% plural %}{{ cnt }} discussions{% endblocktrans %} #}
