{% load i18n %}
{% load extras %}
{% load avatar_tags %}
{% load i18n pagination_tags %}

<div id="stp" class="tp">
  <div id="sp{{ top_post.id }}" class="sp">
    {% if top_post.censor %}
      <div class="pc">
    {% else %}
      {% ifnotequal top_post.abuse 0 %}
        <div class="pr">
      {% endifnotequal %}
    {% endif %}
      <div id="prf{{ top_post.id }}" class="rm"></div>
      <div class="ph">
        <img src="{% avatar_url top_post.user %}" class="up" />
        <span class="mr">
          {% if user.is_authenticated  %}
            <span class="po">
              <a href="{% url snapboard_post_reply top_post.id %}" onclick="return show_reply_form('{{ top_post.id }}');">{% trans "reply" %}</a>
            </span>
          {% endif %}
          {% ifequal top_post.user_id user.id %}
            <span class="po">
              <a href="{% url snapboard_edit_post top_post.id %}?next={{ request.get_full_path|urlencode }}" onclick="return t_e('{{ top_post.id }}')">{% trans "edit post" %}</a>
            </span>
          {% endifequal %}
          {% if user.is_staff %}
            <span class="po">
              <a id="c{{ top_post.id }}" href="#sp{{ top_post.id }}" onclick="s_c('{{ top_post.id }}');">{{ top_post.censor|yesno:_("uncensor,censor") }}</a>
            </span>
          {% endif %}
          {% if user.is_authenticated and not top_post.freespeech %}
            <span class="po">
              <a id="a{{ top_post.id }}" href="#sp{{ top_post.id }}" onclick="s_a('{{ top_post.id }}');">{% trans "report abuse" %}</a>
            </span>
          {% endif %}
        </span>
        <b>
          <a href="#sp{{ top_post.id }}" onclick="t_p('{{ top_post.id }}');">
            <span class="po">{{ top_post.user }}</span>
          </a>
        </b>
        {% if top_post.private.all %}{% trans "to" %} {% for rec in top_post.private.all %}{{ rec }}{% if not forloop.last %},{% endif %}{% endfor %}{% endif %}
        <span class="ti">
          <span class="dt">{{ top_post.date|date:"r T" }}<span class="ts">{{ top_post.date|timestamp }}</span>
          </span>
        </span>
        <span class="ps" style="display:none" id="sps{{ top_post.id }}">: {{ top_post.text|post_summary:"30"|safe }}</span>
      </div>
      <div id="spv{{ top_post.id }}">
        <div class="pt" id="spt{{ top_post.id }}">{{ top_post.text|striptags|render_post|safe }}</div>
        {% if top_post.previous %}
          <span id="prl{{ top_post.id }}" class="ml">
            <a href="#spv{{ top_post.id }}" onclick="revision('{{ top_post.id }}','{{ top_post.previous.id }}');">{% trans "previous" %}</a>
            <a href="{% url snapboard_show_revisions top_post.id %}">
              <b class="mc">{% trans "This message has been revised" %}</b>
            </a>
          </span> 
        {% endif %}
        {% ifequal top_post.user_id user.id %}
          <div id="spe{{ top_post.id }}">
            <form action="{% url snapboard_edit_post top_post.id %}" method="post">
              <p>
                <b>{% trans "All revisions of this post are stored and publicly viewable." %}</b>
              </p>
              <p>{{ top_post.get_edit_form.post }} {# TODO: what about errors? #}</p>
              <p>
                <input type="submit" value="{% trans "Update" %}" />
                <input type="hidden" name="next" value="{{ request.path }}" />
              </p>
            </form>
          </div>
        {% endifequal %}
      </div>
    {% if top_post.censor %}
      </div>
    {% else %}
      {% ifnotequal top_post.abuse 0 %}
        </div>
      {% endifnotequal %}
    {% endif %}
  </div>
</div>


{% autopaginate post_list user_settings.ppp %}
{% paginate %}


{% for top_answer in post_list %}
  {% for post, post_info in top_answer.get_flathelper_list %}
    {% if not post_info.open %}
      </td>
      </tr>
      </table>
    {% endif %}

  <table class="ta">
  <tr>
    {% if post.is_flat %}
      <td id="sp{{ post.id }}" class="sp fp">
    {% else %}
      <td colspan="2" class="pp"></td>
      </tr>
      <tr>
      {% if not post.next_sibling %}
        <td class="cr">
          {% ifnotequal post.depth 2 %}
            <div class="tt"></div>
          {% endifnotequal %}
        </td>
      {% else %}
        <td class="tc">
          {% ifnotequal post.depth 2 %}
            <div class="tt"></div>
          {% endifnotequal %}
        </td>
      {% endif %}
      <td id="sp{{ post.id }}" class="sp">
    {% endif %}
      {% if post.censor %}
      <div class="pb pc{% if post.is_flat %} l{% endif %}">
      {% else %}
        {% ifnotequal post.abuse 0 %}
        <div class="pb pr{% if post.is_flat %} l{% endif %}">
        {% else %}
        <div class="pb">
        {% endifnotequal %}
      {% endif %}
      {% if post.censor and not user.is_staff %}
        <br/>Censored post.<br/><br/>
      {% else %}
        <div id="prf{{ post.id }}" class="rm"></div>
        <div class="ph{% if post.is_flat %} fh{% endif %}">
          <img src="{% avatar_url post.user %}" class="up" />
          <span class="mr">#{{ post.id_form_a }} | #{{ post.id_form_b }} | {% if user.is_authenticated %}{% ifequal post.user_id user.id %}<span class="po"><a href="{% url snapboard_edit_post post.id %}?next={{ request.get_full_path|urlencode }}%23sp{{ post.id }}" onclick="return t_e('{{ post.id }}')">{% trans "edit post" %}</a></span>{% endifequal %}<span class="po">
                <a href="{% url snapboard_post_reply post.id %}" onclick="return t_r('{{ post.id }}');">{% trans "reply" %}</a>
              </span>
              {% if not user.really_anonymous %}
                <span class="po">
                  <a id="w{{ post.id }}" href="{% url snapboard_watch_post post.id %}?next={{ request.get_full_path|urlencode }}%23sp{{ post.id }}" onclick="s_w('{{ post.id }}'); return false;">{% trans "toggle watch" %}</a>
                </span>
              {% endif %}
            {% endif %}
            {% if user.is_staff %}
              <span class="po">
                <a id="c{{ post.id }}" href="#sp{{ post.id }}" onclick="s_c('{{ post.id }}');">{{ post.censor|yesno:_("uncensor,censor") }}</a>
              </span>
            {% endif %}
            {% if user.is_authenticated and not post.freespeech %}
              <span class="po">
                <a id="a{{ post.id }}" href="#sp{{ post.id }}" onclick="s_a('{{ post.id }}');">{% trans "report abuse" %}</a>
                </span>
            {% endif %}
          </span>
          <b>
            <a href="#sp{{ post.id }}" onclick="t_p('{{ post.id }}'); return false; r">
              <span class="po">{{ post.user }}</span>
            </a>
          </b>
          <span class="ti">
            <span class="dt">{{ post.date|date:"r T" }}<span class="ts">{{ post.date|timestamp }}</span>
            </span>
          </span>
          <span class="ps" style="display:none" id="sps{{ post.id }}"></span>
        </div>
        <div id="spv{{ post.id }}" class="pv">
          <div class="pt" id="spt{{ post.id }}">{{ post.text|striptags|render_post|safe }}</div>
          {% if post.previous %}
            <span id="prl{{ post.id }}" class="ml">
              <a href="#spv{{ post.id }}" onclick="revision('{{ post.id }}','{{ post.previous.id }}'); return false;">&#171; {% trans "previous" %}</a>
              <a href="{% url snapboard_show_revisions post.id %}">
                <b class="mc">{% trans "This message has been revised" %}</b>
              </a>
            </span>
          {% endif %}
          <div id="spe{{ post.id }}"></div>
        </div>
        <div id="spr{{ post.id }}" ></div>
      {% endif %} {# post.censor and not user.is_staff  else #}
      </div>
    {% for close in post_info.close %}
        </td>
        </tr>
        </table>
    {% endfor %} 
  {% endfor %}

{% endfor %}
