{% load i18n %}
{% load pagination_tags %}
{% load extras %}

<div class="thr">
{% autopaginate threads user_settings.tpp %}{% paginate %}
<div class="w">
{% if threads %}
{% for thread in threads %}
<div{% if thread.post_count == 1 %} class="l{% if thread.gsticky %} gs{% else %}{% if category and thread.csticky %} cs{% endif %}{% endif %}{% if thread.closed %} cl{% endif %}"{% else %}{% if thread.gsticky %} class="gs{% if thread.closed %} cl{% endif %}"{% else %}{% if category and thread.csticky %} class="cs{% if thread.closed %} cl{% endif %}"{% endif %}{% endif %}{% endif %}>
  <div class="h"><div><div>
    <div class="hm">
      <span class="tn"><a href="{% url snapboard_post thread.id_form_m %}">{{ thread.subject }}</a><span>{% if not category %} in <a href="{% url snapboard_category_thread_index thread.category.id %}">{{ thread.category }}</a>{% endif %}, {{ thread.post_count }} posts</span></span>
      <br/><span class="un">{{ thread.first_post.user.username }}</span> started this: <span class="hmi">&laquo;{{ thread.first_post.texth|truncatewords_html:15|safe }}&raquo;</span> <span class="ti">{% reltime thread.first_post.date %}</span>
    </div>
  </div></div></div>
    <div class="v">
      <div class="t"><div></div></div>
    </div>
  {% if thread.post_count > 1 %}
  <div class="fp l">
    <div class="h"><div><div>
      <div class="hm">
        <span class="un">{{ thread.last_post.user.username }}</span> replied: <span class="hmi">&laquo;{{ thread.last_post.texth|truncatewords_html:15|safe }}&raquo;</span> <span class="ti">{% reltime thread.date %}</span>
      </div>
    </div></div></div>
    <div class="v">
      <div class="t"><div></div></div>
    </div>
  </div>
  {% endif %}
</div>
{% endfor %}
{% else %}
  <p>{% trans "No threads are available." %}</p>
{% endif %}
</div>
{% autopaginate threads user_settings.tpp %}{% paginate %}
</div>
